<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <title>MarkDownEditor</title>
</head>
<body>
    <div class="content flex-nowrap">
        <div class="editor">
            <div class="flex-nowrap">
                <p class="contentTop">Test</p>
                <button id="makeHeading">Überschrift</button>
            </div>
            <div>
                <textarea id="inputfield" class="inputfield"></textarea>
            </div>
        </div>
        <div class="converted">
            <div>
                <p class="contentTop">Test</p>
            </div>
            <div class="markdown-text" id="markdown-text">

            </div>
        </div>
    </div>
    
</body>
<script src="../scripts/converter.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
</html>